rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() &&
        firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid)) &&
        firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.role in ['ADMIN', 'SUPER_ADMIN'];
    }

    match /students/{studentId}/{allPaths=**} {
      allow read: if isAuthenticated() && (request.auth.uid == studentId || isAdmin());
      allow write: if isAuthenticated() && (request.auth.uid == studentId || isAdmin());
    }

    match /{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
  }
}
